<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Encaminhamento</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .footer {
            text-align: center;
            font-size: 1rem;
            color: #777;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>Relatório de Encaminhamentos</h1>
        <ul class="list-group">
            {% for encaminhamento in encaminhamentos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-md-3">Paciente: <span class="text-truncate">{{ encaminhamento.cliente.nome }}</span></div>
                    <div class="col-md-3">Profissional: <span class="text-truncate">{{ encaminhamento.profissional.nome }}</span></div>
                    <div class="col-md-3">Queixa: <span class="text-truncate">{{ encaminhamento.queixa }}</span></div>
                    <div class="col-md-3">Data: <span class="text-truncate">{{ encaminhamento.dias_horas_atendimento }}</span></div>
                </li>
            {% endfor %}
        </ul>
    <div class="footer">
        <p>Total de Encaminhamentos: {{ encaminhamentos | length }}</p>
    </div>
</div>

</body>
</html>
