{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Criar encaminhamento</h2>
    <form action="{{ url_for('encaminhamento_bp.criar_encaminhamento')}}" method="POST">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="cliente_id" class="form-label">Cód Cliente:</label>
                    <input type="text" id="cliente_id" name="cliente_id" class="form-control" onchange="buscarCliente()"/>
                </div>
                <div class="col-md-6">
                    <label for="resultadoCliente" class="form-label">Cliente:</label>
                    <input type="text" id="resultadoCliente" nome="resultadoCliente" class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="profissional_id" class="form-label">Cód Profissional:</label>
                    <input type="text" id="profissional_id" name="profissional_id" class="form-control" onchange="buscarProfissional()"/>
                </div>
                <div class="col-md-6">
                    <label for="resultadoProfissional" class="form-label">Profissional:</label>
                    <input type="text" id="resultadoProfissional" nome="resultadoProfissional" class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="convenio" class="form-label">Convênio:</label>
                    <input id="convenio" name="convenio" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="situacao" class="form-label">Situação:</label>
                    <select class="form-select campoObrigatorio" name="situacao" id="situacao">
                        <option value="">Selecione...</option>
                        <option value="Negado">Negado</option>
                        <option value="Aprovado">Aprovado</option>
                        <option value="Em análise">Em análise</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="tipo_encaminhamento" class="form-label">Tipo de encaminhamento:</label>
                    <select class="form-select campoObrigatorio" name="tipo_encaminhamento" id="tipo_encaminhamento">
                        <option value="">Selecione...</option>
                        <option value="Presencial">Presencial</option>
                        <option value="Online">Online</option>
                        <option value="Hibrida">Hibrida</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="dias_horas_atendimento" class="form-label">Dia e horário de atendimento:</label>
                    <input id="dias_horas_atendimento" name="dias_horas_atendimento" class="form-control" placeholder="Exemplo: Segunda as 14h">
                </div>
                <div class="col-md-3">
                    <label for="valor" class="form-label">Valor:</label>
                    <input type=text id="valor" name="valor" class="form-control" placeholder="R$ 0,00">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="queixa" class="form-label">Queixa:</label>
                    <textarea id="queixa" name="queixa" class="form-control" style="height: 150px;"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="observacoes_gerais" class="form-label" >Observações Gerais:</label>
                    <textarea id="observacoes_gerais" name="observacoes_gerais" class="form-control" style="height: 150px;"></textarea>
                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-12 text-end">
                    <a href="{{ url_for('encaminhamento_bp.encaminhamento') }}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div> 
        </div>
    </form>    
</div>
<script src="{{ url_for('static', filename='js/encaminhamento.js') }}" async></script>
{% endblock %}