{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Criar encaminhamento</h2>
    <form action="{{ url_for('encaminhamento_bp.editar_encaminhamento', id=encaminhamento.id)}}" method="POST">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="cliente_id" class="form-label">Cód Cliente:</label>
                    <div class="input-group">
                        <input type="text" id="cliente_id" name="cliente_id" class="form-control" value="{{ encaminhamento.cliente_id }}">
                        <button type="button" name="buscar_cliente_btn" id="buscar_cliente_btn" class="btn btn-primary" onclick="buscarCliente()">Buscar</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="resultadoCliente" class="form-label">Cliente:</label>
                    <input type="text" id="resultadoCliente" nome="resultadoCliente" class="form-control" value="{{ encaminhamento.cliente.nome }}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="profissional_id" class="form-label">Cód Profissional:</label>
                    <div class="input-group">
                        <input type="text" id="profissional_id" name="profissional_id" class="form-control" value="{{ encaminhamento.profissional_id}}">
                        <button type="button" name="buscar_profissional_btn" id="buscar_profissional_btn" class="btn btn-primary" onclick="buscarProfissional()">Buscar</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="resultado" class="form-label">Profissional:</label>
                    <input type="text" id="resultadoProfissional" name="resultadoProfissional" class="form-control" value="{{ encaminhamento.profissional.nome }}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="convenio" class="form-label">Convênio:</label>
                    <input id="convenio" name="convenio" class="form-control" value="{{ encaminhamento.convenio }}">
                </div>
                <div class="col-md-3">
                    <label for="situacao" class="form-label">Situação:</label>
                    <select class="form-select campoObrigatorio" name="situacao" id="situacao">
                        <option value="">Selecione...</option>
                        <option value="Pendente" {% if encaminhamento.situacao == "Pendente" %}selected{% endif %}>Pendente</option>
                        <option value="Ativo"{% if encaminhamento.situacao == "Ativo" %}selected{% endif %}>Ativo</option>
                        <option value="Inativo"{% if encaminhamento.situacao == "Inativo" %}selected{% endif %}>Inativo</option>
                        <option value="Retorno"{% if encaminhamento.situacao == "Retorno" %}selected{% endif %}>Retorno</option>
                        <option value="Em andamento"{% if encaminhamento.situacao == "Em andamento" %}selected{% endif %}>Em andamento</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="tipo_encaminhamento" class="form-label">Tipo de encaminhamento:</label>
                    <select class="form-select campoObrigatorio" name="tipo_encaminhamento" id="tipo_encaminhamento">
                        <option value="">Selecione...</option>
                        <option value="Rodizio"{% if encaminhamento.tipo_encaminhamento == "Rodizio" %}selected{% endif %}>Rodizio</option>
                        <option value="Indicação"{% if encaminhamento.tipo_encaminhamento == "Indicação" %}selected{% endif %}>Indicação</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="dias_horas_atendimento" class="form-label">Dia e horário de atendimento:</label>
                    <input id="dias_horas_atendimento" name="dias_horas_atendimento" class="form-control" value="{{ encaminhamento.dias_horas_atendimento }}">
                </div>
                <div class="col-md-3">
                    <label for="valor" class="form-label">Valor:</label>
                    <input id="valor" name="valor" class="form-control" value="{{ valor_formatado }}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="queixa" class="form-label">Queixa:</label>
                    <textarea id="queixa" name="queixa" class="form-control" style="height: 150px;">{{ encaminhamento.queixa }}</textarea>
                </div>
                <div class="col-md-6">
                    <label for="observacoes_gerais" class="form-label" >Observações Gerais:</label>
                    <textarea id="observacoes_gerais" name="observacoes_gerais" class="form-control" style="height: 150px;">{{ encaminhamento.observacoes_gerais }}</textarea>
                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-12 text-end">
                    <a href="{{ url_for('encaminhamento_bp.encaminhamento') }}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div> 
        </div>
    </form>    
</div>
<script src="{{ url_for('static', filename='js/encaminhamento.js') }}" async></script>
{% endblock %}