{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Criar encaminhamento</h2>
    <form action="{{ url_for('encaminhamento_bp.criar_encaminhamento')}}" method="POST">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="cliente_id" class="form-label">Cliente:</label>
                    <select class="form-select" id="cliente_id" name="cliente_id">
                        <option value="">Selecione um cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="profissional_id" class="form-label">Profissional:</label>
                    <select class="form-select" id="profissional_id" name="profissional_id">
                        <option value="">Selecione um profissional</option>
                        {% for profissional in profissionais %}
                            <option value="{{ profissional.id }}">{{ profissional.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="convenio" class="form-label">Convênio:</label>
                    <input for="convenio" id="convenio" name="convenio" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="queixa" class="form-label">Dia e horário de atendimento:</label>
                    <input for="queixa" id="queixa" name="queixa" class="form-control" placeholder="Exemplo: Segunda - Quarta - Sexta ( 14h ou 15h)">
                </div>
            </div>
            <div class="row mb-3">

            </div>
        </div>
    </form>
</div>
{% endblock %}