{% extends 'base.html' %}

{% block title %}Encaminhamentos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 mt-5">Encaminhamentos Realizados</h2>
    <div class="row mt-4 mb-5">
        <div class="col-md-12 text-end">
            <a href="{{ url_for('report_bp.report_encaminhamento') }}" class="btn btn-md btn-warning">Relatório</a>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <ul class="list-group">
                {% for encaminhamento in encaminhamentos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>CLIENTE: </strong>
                            {{ encaminhamento.cliente.nome }}
                            <br>
                            <strong>PROFISSIONAL: </strong>
                            {{ encaminhamento.profissional.nome }}
                            <br>
                        </div>
                        <div>
                            <a href="{{ url_for('encaminhamento_bp.editar_encaminhamento', id=encaminhamento.id) }}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{{ url_for('encaminhamento_bp.deletar_encaminhamento', id=encaminhamento.id) }}" class="btn btn-sm btn-danger"data-bs-toggle="modal" data-bs-target="#confirmarExclusao" data-id="{{ encaminhamento.id }}">Deletar</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmarExclusao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Exclusão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja excluir este encaminhamento?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a id="confirmarExclusaoBtn" href="#" class="btn btn-danger">Excluir</a>
        </div>
      </div>
    </div>
</div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var modal = document.getElementById("confirmarExclusao");
      var confirmBtn = document.getElementById("confirmarExclusaoBtn");
  
      modal.addEventListener("show.bs.modal", function (event) {
        var button = event.relatedTarget;
        var clientId = button.getAttribute("data-id");
        confirmBtn.href = "/deletar_encaminhamento/" + clientId;
      });
    });
  </script>
{% endblock %}