{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Cadastro de Cliente</h2>
    <form id="meuFormulario" action="{{ url_for('client_bp.cadastrar_cliente')}}" method="POST">
        <div class="container">
            <h2 class="mb-4"> Dados Pessoais </h2>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="col-md-3">
                    <label for="dt_nascimento" class="form-label">Data de Nascimento<span class="required-star">*</span></label>
                    <input type="date" class="form-control" id="dt_nascimento" name="dt_nascimento" onchange="verificarIdade()" required>
                </div>
                <div class="col-md-2">
                    <label for="idade" class="form-label">Idade</label>
                    <input type="text" class="form-control" id="idade" name="idade">
                </div>
            </div>
            <div id="campos_adicionais" style="display: none">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="nome_responsavel" class="form-label">Nome responsável:</label>
                        <input type="text" class="form-control" id="nome_responsal" name="nome_responsavel">
                    </div>
                    <div class="col-md-3">
                        <label for="cpf_responsavel" class="form-label">CPF responsável:</label>
                        <input type="text" class="form-control" id="cpf_responsavel" name="cpf_responsavel">
                    </div>
                    <div class="col-md-3">
                        <label for="grau_parentesco" class="form-label">Grau de parentesco:</label>
                        <select class="form-select" name="grau_parentesco" id="grau_parentesco">
                            <option value="">Selecione...</option>
                            {% for parentesco in parentescos %}
                            <option value="{{ parentesco.id }}">{{ parentesco.nome }}</option>
                            {% endfor %}
                          </select>                          
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cpf" class="form-label">CPF<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="cpf" name="cpf" required>
                </div>
                <div class="col-md-3">
                    <label for="rg" class="form-label">RG</label>
                    <input type="text" class="form-control" name="rg" id="rg">
                </div>
                <div class="col-md-3">
                    <label for="sexo" class="form-label">Sexo<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" id="sexo" name="sexo" required>
                        <option value="">Selecione...</option>
                        {% for sexo in sexos %}
                        <option value="{{ sexo.id }}">{{ sexo.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <h2 class="mb-4 mt-4"> Contatos </h2>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="fone_pessoal" class="custom-label">Telefone Pessoal<span class="required-star">*</span></label>
                    <input type="text" class="form-control" name="fone_pessoal" id="celular" placeholder="(xx) xxxxxxxxx" required>
                </div>
                <div class="col-md-3">
                    <label for="fone_contato" class="custom-label">Telefone Contato<span class="required-star">*</span></label>
                    <input type="text" class="form-control" name="fone_contato" id="telefone" placeholder="(xx) xxxxxxxxx" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="custom-label">E-mail<span class="required-star">*</span></label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <h2 class="mb-4 mt-4"> Endereço </h2>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cep" class="custom-label">CEP<span class="required-star">*</span></label>
                    <div class="input-group">
                        <input type="text" id="cep" name="cep" class="form-control" required>
                        <button type="button" name="buscar_cep_btn" id="buscar_cep_btn" class="btn btn-primary" onclick="buscarCEP()">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="endereco" class="custom-label">Endereço<span class="required-star">*</span></label>
                    <input type="text" id="endereco" class="form-control" name="endereco" required>
                </div>
                <div class="col-md-2">
                    <label for="numero_cs" class="custom-label">Nr Casa</label>
                    <input type="text" id="numero_cs" class="form-control" name="numero_cs" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="complemento" class="custom-label">Complemento (QD/LT)<span class="required-star">*</span></label>
                    <input type="text" id="complemento" class="form-control" name="complemento" required>
                </div>
            </div>
            <div class="row mb-3">
                <div  class="col-md-3">
                    <label for="bairro" class="custom-label">Bairro<span class="required-star">*</span></label>
                    <input type="text" id="bairro" class="form-control" name="bairro" required>
                </div>
                <div class="col-md-3">
                    <label for="cidade" class="custom-label">Cidade<span class="required-star">*</span></label>
                    <input type="text" id="cidade" class="form-control" name="cidade" required>
                </div>
                <div class="col-md-2">
                    <label for="estado" class="custom-label">Estado<span class="required-star">*</span></label>
                    <input type="text" id="estado" class="form-control" name="estado" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="condicao_habitacao" class="custom-label">Condição de Habitação<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" name="condicao_habitacao" required>
                        <option value="">Selecione...</option>
                        {% for condicao in condicoes %}
                        <option value="{{ condicao.id }}">{{ condicao.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="tipo_moradia" class="custom-label">Tipo de Moradia<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" name="tipo_moradia" required>
                        <option value="">Selecione...</option>
                        {% for moradia in moradias %}
                        <option value="{{ moradia.id }}">{{ moradia.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div  class="row mb-3">
                <h2 class="mb-4 mt-4">Outras informações</h2>
                <div class="col-md-3">
                    <label for="transporte" class="custom-label">Meio de Transporte<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" name="transporte" required>
                        <option value="">Selecione...</option>
                        {% for transporte in transportes %}
                        <option value="{{ transporte.id }}">{{ transporte.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="escolaridade" class="custom-label">escolaridade<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" id="escolaridade" name="escolaridade" required>
                        <option value="">Selecione...</option>
                        {% for escolaridade in escolaridades %}
                        <option value="{{ escolaridade.id }}">{{ escolaridade.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="profissao" class="custom-label">Profissão<span class="required-star">*</span></label>
                    <input type="text" class="form-control" name="profissao" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="plano_saude" class="custom-label">Possui Plano de Saúde?<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" id="plano_saude" name="plano_saude"  onchange="verificaDropdown_PlanodeSaude()">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="nome_plano_saude" class="custom-label">Nome do Plano de Saúde</label>
                    <input type="text" class="form-control" id="nome_plano_saude" name="nome_plano_saude" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="possui_filhos" class="custom-label">Possui filhos?<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" id="possui_filhos" name="possui_filhos" onchange="verificarDropdown_Filhos()">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="numero_filhos" class="custom-label">Número de Filhos</label>
                    <input type="number" class="form-control" id="qtn_filhos" name="numero_filhos">
                </div>
                <div class="col-md-3">
                    <label for="previdenciario" class="custom-label">Previdenciário<span class="required-star">*</span></label>
                    <select class="form-select campoObrigatorio" name="previdenciario" required>
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="remuneracao" class="custom-label">Remuneração<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="remuneracao" name="remuneracao" placeholder="R$ 0,00" required>
                </div>
                <div class="col-md-3">
                    <label for="renda_familiar" class="custom-label">Outras Rendas<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="renda_familiar" name="renda_familiar" placeholder="R$ 0,00" required>
                </div>
                <div class="col-md-3">
                    <label for="despesa_mensal" class="custom-label">Despesa Mensal<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="despesa_mensal" name="despesa_mensal" placeholder="R$ 0,00" required>
                </div>
                <div class="col-md-3">
                    <label for="saldo" class="custom-label">Saldo<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="saldo" name="saldo" placeholder="R$ 0,00" readonly>
                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-12 text-end">
                    <a href="{{ url_for('client_bp.cliente') }}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>                        
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/cliente.js') }}"></script>
{% endblock %}