{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Cadastro de Cliente</h2>
    <form id="meuFormulario" action="{{ url_for('client_bp.cadastrar_cliente')}}" method="POST">
        <div class="container">
            <h2 class="mb-4"> Dados Pessoais </h2>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="col-md-3">
                    <label for="dt_nascimento" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="dt_nascimento" name="dt_nascimento" onchange="verificarIdade()" required>
                </div>
                <div class="col-md-2">
                    <label for="idade" class="form-label">Idade:</label>
                    <input type="text" class="form-control" id="idade" name="idade">
                </div>
                <input type="hidden" id="idade_hidden" name="idade_hidden">
            </div>
            <div id="campos_adicionais" style="display: none">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="nome_responsavel" class="form-label">Nome responsável:</label>
                        <input type="text" class="form-control" id="nome_responsal" name="nome_responsavel">
                    </div>
                    <div class="col-md-3">
                        <label for="cpf_responsavel" class="form-label">CPF responsável:</label>
                        <input type="text" class="form-control" id="cpf_responsavel" name="cpf_responsavel">
                    </div>
                    <div class="col-md-3">
                        <label for="grau_parentesco" class="form-label">Grau de parentesco:</label>
                        <select class="form-select" name="grau_parentesco" id="grau_parentesco">
                            <option value="">Selecione...</option>
                            <option value="pai">Pai</option>
                            <option value="mae">Mãe</option>
                            <option value="avo">Avô</option>
                            <option value="avo_f">Avó</option>
                            <option value="bisavo">Bisavô</option>
                            <option value="bisavo_f">Bisavó</option>
                            <option value="trisavo">Trisavô</option>
                            <option value="trisavo_f">Trisavó</option>
                            <option value="filho">Filho</option>
                            <option value="filha">Filha</option>
                            <option value="neto">Neto</option>
                            <option value="neta">Neta</option>
                            <option value="bisneto">Bisneto</option>
                            <option value="bisneta">Bisneta</option>
                            <option value="trisneto">Trisneto</option>
                            <option value="trisneta">Trisneta</option>
                            <option value="irmao">Irmão</option>
                            <option value="irma">Irmã</option>
                            <option value="tio">Tio</option>
                            <option value="tia">Tia</option>
                            <option value="sobrinho">Sobrinho</option>
                            <option value="sobrinha">Sobrinha</option>
                            <option value="primo">Primo</option>
                            <option value="prima">Prima</option>
                            <option value="sogro">Sogro</option>
                            <option value="sogra">Sogra</option>
                            <option value="genro">Genro</option>
                            <option value="nora">Nora</option>
                            <option value="cunhado">Cunhado</option>
                            <option value="cunhada">Cunhada</option>
                            <option value="padrasto">Padrasto</option>
                            <option value="madrasta">Madrasta</option>
                            <option value="enteado">Enteado</option>
                            <option value="enteada">Enteada</option>
                            <option value="pais_adotivos">Pais adotivos</option>
                            <option value="filhos_adotivos">Filhos adotivos</option>
                            <option value="irmaos_criacao">Irmãos de criação</option>
                          </select>                          
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" required>
                </div>
                <div class="col-md-3">
                    <label for="rg" class="form-label">RG</label>
                    <input type="text" class="form-control" name="rg" id="rg">
                </div>
                <div class="col-md-3">
                    <label for="sexo" class="form-label">Sexo:</label>
                    <select class="form-select campoObrigatorio" id="sexo" name="sexo" required>
                        <option value="">Selecione...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
            </div>
            <h2 class="mb-4 mt-4"> Contatos </h2>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="fone_pessoal" class="custom-label">Telefone Pessoal:</label>
                    <input type="text" class="form-control" name="fone_pessoal" id="celular" placeholder="(xx) xxxxxxxxx" required>
                </div>
                <div class="col-md-3">
                    <label for="fone_contato" class="custom-label">Telefone Contato:</label>
                    <input type="text" class="form-control" name="fone_contato" id="telefone" placeholder="(xx) xxxxxxxxx" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="custom-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <h2 class="mb-4 mt-4"> Endereço </h2>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cep" class="custom-label">CEP:</label>
                    <div class="input-group">
                        <input type="text" id="cep" name="cep" class="form-control" required>
                        <button type="button" name="buscar_cep_btn" id="buscar_cep_btn" class="btn btn-primary" onclick="buscarCEP()">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="endereco" class="custom-label">Endereço:</label>
                    <input type="text" id="endereco" class="form-control" name="endereco" required>
                </div>
                <div class="col-md-2">
                    <label for="numero_cs" class="custom-label">Nr Casa:</label>
                    <input type="text" id="numero_cs" class="form-control" name="numero_cs" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="complemento" class="custom-label">Complemento (QD/LT):</label>
                    <input type="text" id="complemento" class="form-control" name="complemento" required>
                </div>
            </div>
            <div class="row mb-3">
                <div  class="col-md-3">
                    <label for="bairro" class="custom-label">Bairro:</label>
                    <input type="text" id="bairro" class="form-control" name="bairro" required>
                </div>
                <div class="col-md-3">
                    <label for="cidade" class="custom-label">Cidade:</label>
                    <input type="text" id="cidade" class="form-control" name="cidade" required>
                </div>
                <div class="col-md-2">
                    <label for="estado" class="custom-label">Estado:</label>
                    <input type="text" id="estado" class="form-control" name="estado" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="condicao_habitacao" class="custom-label">Condição de Habitação:</label>
                    <select class="form-select campoObrigatorio" name="condicao_habitacao" required>
                        <option value="">Selecione...</option>
                        <option  value="Alugada">Alugada</option>
                        <option  value="Própria">Própria</option>
                        <option  value="Financiada">Financiada</option>
                        <option  value="Cedida">Cedida</option>
                        <option  value="Compartilhada">Compartilhada</option>
                        <option  value="Ocupação Irregular">Ocupação Irregular</option>
                        <option  value="Sublugada">Sublugada</option>
                        <option  value="Cohab">Cohab</option>
                        <option  value="Temporária">Temporária</option>
                        <option  value="Comodatária">Comodatária</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="tipo_moradia" class="custom-label">Tipo de Moradia:</label>
                    <select class="form-select campoObrigatorio" name="tipo_moradia" required>
                        <option value="">Selecione...</option>
                        <option value="Apartamento">Apartamento</option>
                        <option value="Casa">Casa</option>
                        <option value="Sobrado">Sobrado</option>
                        <option value="Cortiço">Cortiço</option>
                        <option value="Chale">Chale</option>
                        <option value="Studio">Studio</option>
                        <option value="Kitnet">Kitnet</option>
                        <option value="Residencia">Residencia</option>
                        <option value="Condominio">Condominio</option>
                        <option value="Barraco">Barraco</option>
                        <option value="Albergue">Albergue</option>
                        <option value="Predio">Prédio</option>
                        <option value="Sitio">Sitio</option>
                        <option value="Chacara">Chacara</option>
                        <option value="Fazenda">Fazenda</option>
                        <option value="Rancho">Rancho</option>
                        <option value="Moradia Estudantil">Moradia Estudantil</option>
                        <option value="Cohab">Cohab</option>
                        <option value="Vila">Vila</option>
                    </select>
                </div>
            </div>
            <div  class="row mb-3">
                <h2 class="mb-4 mt-4">Outras informações</h2>
                <div class="col-md-3">
                    <label for="transporte" class="custom-label">Meio de Transporte:</label>
                    <select class="form-select campoObrigatorio" name="transporte" required>
                        <option value="">Selecione...</option>
                        <option value="Transporte Publico">Transporte Público</option>
                        <option value="Bicicleta">Bicicleta</option>
                        <option value="Carro">Carro</option>
                        <option value="Moto">Moto</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="escolaridade" class="custom-label">escolaridade:</label>
                    <select class="form-select campoObrigatorio" id="escolaridade" name="escolaridade">
                        <option value="">Selecione...</option>
                        <option vlaue="Não Alfabetizado">Não Alfabetizado</option>
                        <option vlaue="Ensino Fundamental">Ensino Fundamental</option>
                        <option vlaue="Ensino Mêdio">Ensino Mêdio</option>
                        <option vlaue="Ensino Superior">Ensino Superior</option>
                        <option vlaue="Pós Graduação">Pós Graduação</option>
                        <option vlaue="Mestado">Mestrado</option>
                        <option vlaue="Doutorado">Doutorado</option>
                        <option vlaue="PhD">PhD</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="profissao" class="custom-label">Profissão:</label>
                    <input type="text" class="form-control" name="profissao" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="plano_saude" class="custom-label">Possui Plano de Saúde?</label>
                    <select class="form-select campoObrigatorio" id="plano_saude" name="plano_saude"  onchange="verificaDropdown_PlanodeSaude()">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="nome_plano_saude" class="custom-label">Nome do Plano de Saúde:</label>
                    <input type="text" class="form-control" id="nome_plano_saude" name="nome_plano_saude" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="possui_filhos" class="custom-label">Possui filhos?</label>
                    <select class="form-select campoObrigatorio" id="possui_filhos" name="possui_filhos" onchange="verificarDropdown_Filhos()">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="numero_filhos" class="custom-label">Número de Filhos:</label>
                    <input type="number" class="form-control" id="qtn_filhos" name="numero_filhos">
                </div>
                <div class="col-md-3">
                    <label for="previdenciario" class="custom-label">Previdenciário:</label>
                    <select class="form-select campoObrigatorio" name="previdenciario">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="remuneracao" class="custom-label">Remuneração:</label>
                    <input type="text" class="form-control" id="remuneracao" name="remuneracao" placeholder="R$ 0,00">
                </div>
                <div class="col-md-3">
                    <label for="renda_familiar" class="custom-label">Outras Rendas:</label>
                    <input type="text" class="form-control" id="renda_familiar" name="renda_familiar" placeholder="R$ 0,00">
                </div>
                <div class="col-md-3">
                    <label for="despesa_mensal" class="custom-label">Despesa Mensal:</label>
                    <input type="text" class="form-control" id="despesa_mensal" name="despesa_mensal" placeholder="R$ 0,00">
                </div>
                <div class="col-md-3">
                    <label for="saldo" class="custom-label">Saldo:</label>
                    <input type="text" class="form-control" id="saldo" name="saldo" placeholder="R$ 0,00" readonly>
                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-12 text-end">
                    <a href="{{ url_for('client_bp.cliente') }}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>                        
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/cliente.js') }}"></script>
{% endblock %}