<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form action="/registro" method="post">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Nome">
        <br>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email">
        <br>
        <label for="senha">Senha</label>
        <input type="password" name="senha" placeholder="Senha">
        <br>
        <label for="role">Role</label>
        <input type="text" name="role" placeholder="Role">
        <br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>