{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Emitir guia</h2>
    <form action="{{ url_for('encaminhamento_bp.criar_encaminhamento')}}" method="POST">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="cliente_id" class="form-label">Cliente:</label>
                    <select class="form-select" id="cliente_id" name="cliente_id">
                        <option value="">Selecione um cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}" {% if cliente.id == encaminhamento.cliente_id %}selected{% endif %}>
                                {{ cliente.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="profissional_id" class="form-label">Profissional:</label>
                    <select class="form-select" id="profissional_id" name="profissional_id">
                        <option value="">Selecione um profissional</option>
                        {% for profissional in profissionais %}
                            <option value="{{ profissional.id }}" {% if profissional.id == encaminhamento.profissional_id %}selected{% endif %}>
                                {{ profissional.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="observacoes_gerais" class="form-label">Obserevações:</label>
                    <textarea id="observacoes_gerais" name="observacoes_gerais" class="form-control"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="quantidade_emissoes" class="form-label">Quantidade:</label>
                    <input type="number" id="quantidade_emissoes" name="quantidade_emissoes" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="tipo_pagamento" class="form-label">Tipo de pagamento</label>
                    <select class="form-select" id="tipo_pagamento" name="tipo_pagamento">
                        <option value="">Selecione o método de pagamento</option>
                        <option value="pix">PIX</option>
                        <option value="cartao credito">Cartão de Crédito</option>
                        <option value="cartao debito">cartão de Débito</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="valor_unitario" class="form-label">Valor Unitário:</label>
                    <input type="text" id="valor_unitario" name="valor_unitario" class="form-control">
                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-12 text-end">
                    <a href="{{ url_for('main_bp.menu') }}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div> 
        </div>
    </form>    
</div>
{% endblock %}