body {
    display: flex;
    flex-direction: column; /* Faz com que os elementos filhos fiquem empilhados verticalmente */
    margin: 0;
    padding-top: 56px;
    font-family: Arial, sans-serif;
    background-color: #f1f3f5;
}

/* Conteúdo principal ajustado */
.content {
    margin-left: 60px;
    padding: 20px;
    width: calc(100% - 60px);
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}


.dashboard-container {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
}

.dashboard-btn {
    width: 280px;
    height: 110px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.dashboard-btn i {
    margin-right: 10px;
    font-size: 1.6rem;
}

.dashboard-btn:hover {
    transform: scale(1.05);
}

/* Cores dos botões 457b9d  396a8f*/
.btn-cliente { background-color: rgb(33, 37, 41); color: white; }
.btn-profissional { background-color: rgb(33, 37, 41); color: white; }
.btn-encaminhamento { background-color: rgb(33, 37, 41); color: white; }
.btn-guia { background-color: rgb(33, 37, 41); color: white; }
.btn-adm { background-color: rgb(33, 37, 41); color: white; }

.btn-cliente:hover { background-color: rgb(255, 255, 255); border: 1px solid black;}
.btn-profissional:hover { background-color: rgb(255, 255, 255); border: 1px solid black;}
.btn-encaminhamento:hover { background-color: rgb(255, 255, 255); border: 1px solid black;}
.btn-guia:hover { background-color: rgb(255, 255, 255); border: 1px solid black;}
.btn-adm:hover { background-color: rgb(255, 255, 255); border: 1px solid black;}

#flash-container {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 50%;
}

.flash-message {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .dashboard-container {
        padding-top: 50px;
    }
    .dashboard-btn {
        width: 90%;
        height: 100px;
    }
}
