{% extends 'base.html' %}
{% block title %}Gerenciar Dados{% endblock %}

{% block content %}
<div class="container mt-5">

  <!-- Nav tabs -->
  <div class="overflow-auto" style="white-space: nowrap;">
    <ul class="nav nav-tabs flex-nowrap" id="abaGerenciamento" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="condicao_habitacao-tab" data-bs-toggle="tab" data-bs-target="#condicao_habitacao" type="button" role="tab">Condições de Habitação</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="escolariedade-tab" data-bs-toggle="tab" data-bs-target="#escolariedade" type="button" role="tab">Escolariedade</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="parentesco-tab" data-bs-toggle="tab" data-bs-target="#parentesco" type="button" role="tab">Grau de Parentesco</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pagamento-tab" data-bs-toggle="tab" data-bs-target="#pagamento" type="button" role="tab">Método de Pagamento</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="sexo-tab" data-bs-toggle="tab" data-bs-target="#sexo" type="button" role="tab">Sexos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="situacao-tab" data-bs-toggle="tab" data-bs-target="#situacao" type="button" role="tab">Situação</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tencaminhamento-tab" data-bs-toggle="tab" data-bs-target="#tencaminhamento" type="button" role="tab">Tipo de Encaminhamento</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tipo_moradia-tab" data-bs-toggle="tab" data-bs-target="#tipo_moradia" type="button" role="tab">Tipo de Moradia</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="transporte-tab" data-bs-toggle="tab" data-bs-target="#transporte" type="button" role="tab">Tipo de Transporte</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="estado-tab" data-bs-toggle="tab" data-bs-target="#estado" type="button" role="tab">Estado Civil</button>
      </li>
    </ul>
  </div> 

  <!-- Tab content -->
  <div class="tab-content mt-3" id="conteudoAbas">
    <div class="tab-pane fade show active" id="condicao_habitacao" role="tabpanel">
      {% include 'administracao/condicao_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="escolariedade" role="tabpanel">
      {% include 'administracao/escolariedade_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="parentesco" role="tabpanel">
      {% include 'administracao/parentesco_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="pagamento" role="tabpanel">
      {% include 'administracao/pagamento_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="sexo" role="tabpanel">
      {% include 'administracao/sexo_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="situacao" role="tabpanel">
      {% include 'administracao/situacao_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="tencaminhamento" role="tabpanel">
      {% include 'administracao/tipo_encaminhamento_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="tipo_moradia" role="tabpanel">
      {% include 'administracao/moradia_card.html' %}
    </div>
  
    <div class="tab-pane fade" id="transporte" role="tabpanel">
      {% include 'administracao/transporte_card.html' %}
    </div>
    <div class="tab-pane fade" id="estado" role="tabpanel">
      {% include 'administracao/estados_card.html' %}
    </div>
  </div>  
</div>

<!-- Modal Confirmar Exclusão Condição -->
<div class="modal fade" id="modalConfirmarExclusao" tabindex="-1" aria-labelledby="modalConfirmarExclusaoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir ?
      </div>
      <div class="modal-footer">
        <a id="confirmarExclusaoBtn" class="btn btn-danger">Excluir</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Salva a aba ativa antes de sair da página
  document.querySelectorAll('button[data-bs-toggle="tab"]').forEach(tab => {
    tab.addEventListener('shown.bs.tab', function (event) {
      localStorage.setItem('ultimaAba', event.target.getAttribute('data-bs-target'));
    });
  });

  // Ativa a aba anterior ao recarregar
  window.addEventListener('DOMContentLoaded', function () {
    const ultimaAba = localStorage.getItem('ultimaAba');
    if (ultimaAba) {
      const tabTrigger = document.querySelector(`button[data-bs-target="${ultimaAba}"]`);
      if (tabTrigger) new bootstrap.Tab(tabTrigger).show();
    }
  });

  // Confirmar Exclusão
  document.addEventListener('DOMContentLoaded', function () {
    const modalConfirmarExclusao = document.getElementById('modalConfirmarExclusao');
    if (modalConfirmarExclusao) {
      modalConfirmarExclusao.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; // Botão que abriu o modal
        const id = button.getAttribute('data-bs-id'); // Pega o ID do botão de exclusão
        const url = button.getAttribute('data-bs-url'); // Pega a URL do botão de exclusão

        const confirmarExclusaoBtn = modalConfirmarExclusao.querySelector('#confirmarExclusaoBtn');
        confirmarExclusaoBtn.setAttribute('href', url); // Atualiza o link de exclusão
      });
    }
  });
</script>
{% endblock %}
