{% extends 'base.html' %}

{% block title %}Menu do Adiministrador{% endblock %}

{% block content %}
    <!-- Container de Botões -->
    <div class="container dashboard-container mt-5">
        <div class="row">

            <!-- Usuarios -->
            <div class="col-md-3 mb-3">
                <a href="{{ url_for('adm_bp.usuarios')}}" class="btn dashboard-btn btn-cliente">
                    <i class="fas fa-user"></i> Usuarios
                </a>
            </div>

            <!-- Serviços -->
            <div class="col-md-3 mb-3">
                <a href="{{ url_for('adm_bp.usuarios')}}" class="btn dashboard-btn btn-cliente">
                    <i class="fas fa-user"></i> Serviços
                </a>
            </div>

            <!-- Gerar Encaminhamento -->
            <div class="col-md-3 mb-3">
                <a href="{{ url_for('encaminhamento_bp.encaminhamento')}}" class="btn dashboard-btn btn-encaminhamento">
                    <i class="fas fa-file-medical"></i> Encaminhamentos
                </a>
            </div>

            <!-- Emitir Guia -->
            <div class="col-md-3 mb-3">
                <a href="{{ url_for('guide_bp.guia')}}" class="btn dashboard-btn btn-guia">
                    <i class="fas fa-file-invoice"></i> Guias
                </a>
            </div>

        </div>
        
    </div>
{% endblock %}