{% extends 'base.html' %}

{% block title %}Menu do Administrador{% endblock %}

{% block content %}
    <!-- Container de Botões -->
    <div class="container dashboard-container mt-5">
        <div class="row justify-content-center">

            <!-- Usuarios -->
            <div class="col-md-6 mb-3">
                <a href="{{ url_for('adm_bp.usuarios')}}" class="btn dashboard-btn btn-cliente w-100">
                    <i class="fas fa-user"></i> Usuários
                </a>
            </div>

            <!-- Serviços -->
            <div class="col-md-6 mb-3">
                <a href="{{ url_for('adm_bp.opcoes')}}" class="btn dashboard-btn btn-cliente w-100">
                    <i class="fas fa-cogs"></i> Opções do Sistema
                </a>
            </div>

        </div>
    </div>
{% endblock %}
