{% extends 'base.html' %}

{% block title %}Editar Cliente{% endblock %}

{% block content %}
    <br><br>
    <form action="cadastrar_profissional" method="POST" class="mb-5">
        <div class="row">
            <div class="col-md-6">
                <label for="nome" class="custom-label">Nome:</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome">
            </div>
            <div class="col-md-6">
                <label for="cpf" class="custom-label">CPF:</label>
                <input type="text" class="form-control" name="cpf" placeholder="CPF">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="email" class="custom-label">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="col-md-6">
                <label for="data_nascimento" class="custom-label">Data de Nascimento:</label>
                <input type="date" class="form-control" name="data_nascimento">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="bairro" class="custom-label">Bairro:</label>
                <input type="text" class="form-control" name="bairro" placeholder="Bairro">
            </div>
            <div class="col-md-6">
                <label for="banco" class="custom-label">Banco:</label>
                <input type="text" class="form-control" name="banco" placeholder="Banco">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="cep" class="custom-label">CEP:</label>
                <input type="text" class="form-control" name="cep" placeholder="CEP">
            </div>
            <div class="col-md-6">
                <label for="cidade" class="custom-label">Cidade:</label>
                <input type="text" class="form-control" name="cidade" placeholder="Cidade">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="graduacao" class="custom-label">Graducação:</label>
                <input type="text" class="form-control" name="graduacao" placeholder="Graducação">
            </div>
            <div class="col-md-6">
                <label for="issqn" class="custom-label">ISSQN:</label>
                <input type="text" class="form-control" name="issqn" placeholder="ISSQN">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="fone_pessoal" class="custom-label">Telefone Pessoal:</label>
                <input type="text" class="form-control" name="fone_pessoal" placeholder="(xx) xxxxxxxxx">
            </div>
            <div class="col-md-6">
                <label for="fone_profissional" class="custom-label">Telefone Profissional:</label>
                <input type="text" class="form-control" name="fone_profissional" placeholder="(xx) xxxxxxxxx">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="foto" class="custom-label">Foto:</label>
                <input type="file" class="form-control" name="foto">
            </div>
            <div class="col-md-6">
                <label for="curriculum_lattes" class="custom-label">Curriculum Lattes:</label>
                <input type="text" class="form-control" name="curriculum_lattes" placeholder="Curriculum Lattes">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="dias_horas_disponiveis" class="custom-label">Dias/Horas Disponíveis:</label>
                <input type="text" class="form-control" name="dias_horas_disponiveis">
            </div>
            <div class="col-md-6">
                <label for="endereco_profissional" class="custom-label">Endereço Profissional:</label>
                <input type="text" class="form-control" name="endereco_profissional" placeholder="Endereço profissional">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="estado" class="custom-label">Estado:</label>
                <input type="text" class="form-control" name="estado" placeholder="Estado">
            </div>
            <div class="col-md-6">
                <label for="observacoes" class="custom-label">Observações:</label>
                <input type="text" class="form-control" name="observacoes" placeholder="Obs">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="pix" class="custom-label">PIX:</label>
                <input type="text" class="form-control" name="pix" placeholder="celular/email/cpf/cnpj">
            </div>
            <div class="col-md-6">
                <label for="registro_profissional" class="custom-label">Registro Profissional:</label>
                <input type="text" class="form-control" name="registro_profissional" placeholder="Registro Profissional">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="rg" class="custom-label">RG:</label>
                <input type="text" class="form-control" name="rg" placeholder="RG">
            </div>
            <div class="col-md-6">
                <label for="valor_minimo" class="custom-label">Valor mínimo:</label>
                <input type="number" class="form-control" name="valor_minimo" placeholder="Valor mínimo">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
{% endblock %}