{% extends 'base.html' %}

{% block title %}Editar profissional{% endblock %}

{% block content %}
<div class="container mb-5 mt-4">
    <h2 class="text-center">Cadastro de profissional</h2>
    <form action="{{ url_for('professional_bp.editar_profissional', id=profissional.id)}}" method="POST">
        <div class="container">
            <h2 class="mb-4"> Dados Pessoais </h2>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="nome" name="nome" value="{{profissional.nome}}" >
                </div>
                <div class="col-md-3">
                    <label for="data_nascimento" class="form-label">Data de Nascimento<span class="required-star">*</span></label>
                    <input type="date" class="form-control" id=data_nascimento name="data_nascimento" value="{{profissional.data_nascimento}}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cpf" class="form-label">CPF<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="cpf" name="cpf" value="{{profissional.cpf}}" >
                </div>
                <div class="col-md-3">
                    <label for="rg" class="form-label">RG</label>
                    <input type="text" class="form-control" id="rg" name="rg" value="{{profissional.rg}}" >
                </div>
            </div>
            <h2 class="mb-4 mt-4">Contatos</h2>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="email" name="email" value="{{profissional.email}}" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="fone_pessoal" class="form-label">Telefone Pessoal<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="fone_pessoal" name="fone_pessoal" value="{{profissional.fone_pessoal}}" required>
                </div>
                <div class="col-md-3">
                    <label for="fone_profissional" class="form-label">Telefone Profissional<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="fone_profissional" name="fone_profissional" value="{{profissional.fone_profissional}}" required >
                </div>
            </div>
            <h2 class="mb-4 mt-4">Endereço</h2>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cep" class="form-label">CEP<span class="required-star">*</span></label>
                    <div class="input-group">
                        <input type="text" id="cep" name="cep" class="form-control" value="{{ profissional.cep }}">
                        <button type="button" name="buscar_cep_btn" id="buscar_cep_btn" class="btn btn-primary" required onclick="buscarCEP()">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="endereco_profissional" class="form-label">Endereço Profissional<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="endereco_profissional" name="endereco_profissional" required value="{{profissional.endereco_profissional}}" >
                </div>
                <div class="col-md-3">
                    <label for="bairro" class="form-label">Bairro<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="bairro" name="bairro" required value="{{profissional.bairro}}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="complemento" class="custom-label">Complemento (QD/LT)<span class="required-star">*</span></label>
                    <input type="text" id="complemento" class="form-control" name="complemento" required value="{{profissional.complemento}}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="cidade" class="form-label">Cidade<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="cidade" name="cidade" required value="{{profissional.cidade}}" >
                </div>
                <div class="col-md-3">
                    <label for="estado" class="form-label">Estado<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="estado" name="estado" required value="{{profissional.estado}}" >
                </div>
            </div>
            <h2 class="mb-3">Dados profissionais</h2>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="graduacao" class="form-label">Graducação</label>
                    <input type="text" class="form-control" id="graduacao" name="graduacao" value="{{profissional.graduacao}}" >
                </div>
                <div class="col-md-3">
                    <label for="registro_profissional" class="form-label">Registro Profissional</label>
                    <input type="text" class="form-control" id="registro_profissional" name="registro_profissional" value="{{profissional.registro_profissional}}" >
                </div>
                <div class="col-md-3">
                    <label for="issqn" class="form-label">ISSQN</label>
                    <input type="text" class="form-control" id="issqn" name="issqn" value="{{profissional.issqn}}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="curriculum_lattes" class="form-label">Curriculum Lattes</label>
                    <input type="text" class="form-control" id="curriculum_lattes" name="curriculum_lattes" value="{{profissional.curriculum_lattes}}" >
                </div>
                <div class="col-md-3">
                    <label for="valor_minimo" class="form-label">Valor mínimo<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="valor_minimo" name="valor_minimo" required value="{{profissional.valor_minimo}}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="banco" class="form-label">Banco<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="banco" name="banco" required value="{{profissional.banco}}" >
                </div>
                <div class="col-md-6">
                    <label for="pix" class="form-label">PIX<span class="required-star">*</span></label>
                    <input type="text" class="form-control" id="pix" name="pix" required value="{{profissional.pix}}" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="dias_horas_disponiveis" class="custom-label">Dias/Horas Disponíveis<span class="required-star">*</span></label>
                    <textarea class="form-control" id="dias_horas_disponiveis" name="dias_horas_disponiveis" style="height: 150px;" required>{{profissional.dias_horas_disponiveis}}</textarea>
                </div>
                <div class="col-md-5">
                    <label for="observacoes" class="custom-label">Observações:</label>
                    <textarea class="form-control" id="observacoes" name="observacoes" style="height: 150px;">{{profissional.observacoes}}</textarea>
                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-12 text-end">
                    <a href="{{ url_for('professional_bp.listar_profissional') }}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/profissional.js') }}"></script>
{% endblock %}