{% extends 'base.html' %}

{% block title %}Listar Profissionais{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4 mt-5">Profissionais Cadastrados</h2>
    <div class="card-body">
        <table id="table" class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Cód</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Editar</th>
                    {% if usuario.role == "admin" %}
                    <th>Excluir</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for profissional in profissionais %}
                    <tr>
                        <td>{{ profissional.id }}</td>
                        <td>{{ profissional.nome }}</td>
                        <td>{{ profissional.email }}</td>
                        <td>{{ profissional.fone_profissional }}</td>
                        <td><a href="{{ url_for('professional_bp.editar_profissional', id=profissional.id) }}" class="btn btn-sm btn-warning">Editar</a></td>
                        {% if usuario.role == "admin" %}
                        <td><a href="{{ url_for('professional_bp.deletar_profissional', id=profissional.id) }}" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarExclusao" data-id="{{ profissional.id }}">Deletar</a></td>
                        {% endif %}
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmarExclusao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Exclusão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja excluir este Profissional?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a id="confirmarExclusaoBtn" href="#" class="btn btn-danger">Excluir</a>
        </div>
      </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    var modal = document.getElementById("confirmarExclusao");
    var confirmBtn = document.getElementById("confirmarExclusaoBtn");

    modal.addEventListener("show.bs.modal", function (event) {
        var button = event.relatedTarget;
        if (button) {
            var profissionalID = button.getAttribute("data-id");
            confirmBtn.href = "/deletar_profissional/" + profissionalID;
        }
    });

    // Inicializando DataTables com botões
    $('#table').DataTable({
        "pageLength": 10,
        "lengthChange": false,
        "language": {
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Próximo",
                "previous": "Anterior"
            },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "search": "Buscar:",
            "zeroRecords": "Nenhum registro encontrado",
            "infoEmpty": "Nenhum registro disponível"
        },
        "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 d-flex justify-content-end'<'me-2'f><'ms-2'B>>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        "buttons": [
            {
                text: "Adicionar",
                className: "btn btn-success me-1",
                action: function () {
                    window.location.href = "{{ url_for('professional_bp.cadastrar_profissional') }}";
                }
            },
            {
                text: "Relatório",
                className: "btn btn-warning",
                action: function () {
                    window.location.href = "{{ url_for('report_bp.report_profissional') }}";
                }
            }
        ]
    });
});

</script>

{% endblock %}